<!DOCTYPE html>
<html>
<head>
  <title>SuggestionBox</title>
  <%= stylesheet_link_tag    "suggestion_box/application", media: "all" %>
  <%= javascript_include_tag "suggestion_box/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='container'>
  <%= yield %>
</div>

</body>
</html>
